{% extends 'base.html'%}

{% block content%}


        <div class="col-md-6 offset-md-3">
        {% if user.is_authenticated %}
        <h1>listes des demandes de conge</h1>
       

            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Motif de la demande</th>
                    <th scope="col">Date de debut</th>
                
                </tr>
                </thead>
                <tbody>
                    {% if chefresponses %}
                    {% for chefresponse in chefresponses %}
                    <tr>
                    <td>{{ chefresponse.request }} </td>
                    <td> {{ chefresponse.response }}</td>
                    <td>{{ chefresponse.comments }}</td>
                    
                </tr>
            
                    {% endfor %}
                {% endif %}
            
                </tbody>
            </table>
            
            
            
            </br>
{% else %}

<h1>Login</h1>

<br/>
<form method="POST" action="{% url 'liste' %}">
    {% csrf_token %}
    <form>
        <div class="mb-3">
          <input type="text" class="form-control" name="username", placeholder="username " required >
        </div><br/>
        <div class="mb-3">
          <input type="password" class="form-control" name="password", placeholder="Password" required >
        </div>
        <br/>
        <button type="submit" class="btn btn-secondary">Login</button>
      </form>
</form>

</div>
{% endif %}


{% endblock %}